.light {
  min-height: calc(100vh - 48.19px);
  background-color: var(--main-color);
  color: var(--main-background);
  transition: all 0.5s ease-in-out;
}
.light .skills .box , .light .skills .box-skills 
, .light .services .box-service , .light .contact-image,
.light .contact .box-contact , .light hr{
    background-color: var(--main-background);
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.dark {
  min-height: calc(100vh - 48.19px);
  background-color: var(--main-background);
  color: var(--main-color);
}
.dark .skills .box , .dark .skills .box-skills , .dark .services .box-service
 ,.dark .contact .box-contact , .dark hr , .dark .contact-image{
    background: var(--main-color);
  color: var(--main-background);
  transition: all 0.3s ease-in-out;
}
.spinn {
  position: absolute;
  top: 50%;
  left: 50%;
}
hr{
  height: 1.5px;
margin-top: 15px;}


.light .css-1b7o686-MuiInputBase-root-MuiInput-root:after , .light .css-q469bn-MuiInputBase-root-MuiInput-root:after{
  border:  2.2px solid var(--main-background);
}
.css-1r74e2h-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  font-size: 20px ;
  font-weight: 600;
  letter-spacing: 2px;
}
input{
  padding: 15px 25px !important;
}
.light .css-1r74e2h-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color:var(--main-background);
}
.light input {
  color:var(--main-background);
}
/* ========================== */
.dark .css-1b7o686-MuiInputBase-root-MuiInput-root:after , .dark .css-q469bn-MuiInputBase-root-MuiInput-root:after {
  border:  2.2px solid var(--main-color);
}
.dark .css-1r74e2h-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color:var(--main-color);

}
.dark input {
  padding: 15px 25px !important;
  color:var(--main-color);
}